* body {
  font-family: sans-serif;
}

.image1 {
  width: 400px;
  height: 300px;
  background-size: cover;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
  object-fit: contain;
}