{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Actividades - AAT
{% endblock titulo %}


{% block body %}
<section class="section">
    <div class="content is-medium">
        <div class="container">


            <h2 class="title is-3">Actividades</h2>



        </div>
    </div>
    <div class="container">
        <div class="content is-medium">
            <div class="columns">
                <div class="column is-two-fifths">
                    <figure class="image is-4by3">
                        <img src="{% static 'images/grupos-de-ayuda-mutua.jpg' %}">
                    </figure>
                </div>
                <div class="column">
                    <h2 class="title is-5">Grupos de ayuda mutua</h2>
                    <p>Este espacio fue creado para poner en práctica los procedimientos de habla cómoda y las
                        habilidades sociales del tratamiento especializado en disfluencia. Es un espacio de
                        acompañamiento, aprendizaje mutuo en un ambiente distendido y agradable. Es requisito estar en
                        tratamiento fonoaudiológico especializado, tener el alta y querer seguir poniendo en práctica
                        los procedimientos entre pares o tener ganas de comenzar tratamientos y querer conocer de que se
                        tratan los procedimientos de habla cómoda y las habilidades sociales.
                        Edad: a partir de los 16 años</p>
                </div>
            </div>
        </div>
    </div>
        <div class="column  is-three-fifths  is-offset-one-fifth ">
            <table class="table">
                <thead>
                    <tr>

                        <th>GAM</th>
                        <th>CONTACTO</th>

                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>GAM Capital Federal</td>
                        <td><a href="https://www.facebook.com/www.aat.org.ar">Asociación Argentina de Tartamudez</a>
                        </td>
                    </tr>
                    <tr>
                        <td>GAM Morón</td>
                        <td><a href="https://www.facebook.com/GAM-Zona-Oeste-112510767200537/">Hospital Morón</a></td>
                    </tr>
                    <tr>
                        <td>GAM Córdoba</td>
                        <td><a href="https://www.facebook.com/www.delegacioncordoba">Delegación Córdoba de la AAT</a>
                        </td>
                    </tr>
                    <tr>
                        <td>GAM Patagonia</td>
                        <td><a href="https://www.facebook.com/aatdelegacionpatagonica">Delegación Patagónica de la
                                AAT</a></td>
                    </tr>
                    <tr>
                        <td>GAM San Nicolás de los Arroyos</td>
                        <td><a
                                href="https://www.facebook.com/GAM-San-Nicol%C3%A1s-Grupo-de-Ayuda-Mutua-a-personas-con-tartamudez-111812070544180">GAM
                                San Nicolás</a></td>
                    </tr>
                    <tr>
                        <td>GAM La Plata</td>
                        <td><a href="https://www.facebook.com/laplatafluye">La Plata Fluye</a></td>
                    </tr>
                    <tr>
                        <td>GAM Capital Federal</td>
                        <td><a href="https://www.facebook.com/www.aat.org.ar">Asociación Argentina de Tartamudez</a>
                        </td>
                    </tr>
            </table>

        </div>

</section>
<section class="section">
    <div class="container">
    <div class="content is-medium">
        <div class="columns">
            <div class="column is-two-fifths">
                <figure class="image is-4by3">
                    <img src="{% static 'images/taller para padres.jpg' %}">
                </figure>
            </div>
            <div class="column">
                <h2 class="title is-5">Taller para padres</h2>
                <p>Tercer sabados de cada mes a las 10 hs, nos reuniremos para intercambiar vivencias familiares,
                    alegrías y tristezas, logros, dudas, y todo lo que nos sucede como papas de un niño que a veces se
                    traba” </p>
            </div>
        </div>
    </div>
    </div>



</section>
<section class="section">
    <div class="container">
    <div class="content is-medium">
        <div class="columns">
            <div class="column is-two-fifths">
                <figure class="image is-4by3">
                    <img src="{% static 'images/consulta abierta gratuita.jpg' %}">
                </figure>
            </div>
            <div class="column">
                <h2 class="title is-5">Consulta abierta gratuita</h2>
                <p>La Asociación ofrece una consulta abierta y gratuita a todas las personas con disfluencia, familiares
                    y amigos que estén interesados en saber más acerca de la disfluencia o tartamudez. La AAT sabe que
                    esta dificultad la superamos entre todos, también ofrecemos asesoramiento docentes y profesionales
                    que quieran saber más del tema. Para mayor información contactarse con la AAT. Primeros sabados de
                    cada mes a las 10hs. </br>Por favor venir preferentemente sin niños.
                    ¡DE LA DISLFUENCIA SI SE HABLA!</br>
                    Consulta abierta virtual: Facebook ” </p>
            </div>
        </div>
    </div>

    <div class="content is-medium has-text-centered">

        <h2 class="title is-5">Consultas abiertas Itinerantes</h2>
        <p> La AAT realiza todos los años consultas gratuitas en diferentes partes del país. Contáctenos.
            LA AAT SE ACERCA A LA GENTE</p>

    </div>

    </div>



</section>
{% endblock body %}