{% extends 'base.html' %}

{% block titulo %}Quiénes somos{% endblock titulo %}


{% block body %}
<section class="section">
    <div class="container">
        <div class="content is-medium">



            <h2 class="title is-3">Formación</h2>


            <h1 class="title is-5">CAPACITACIÓN ANUAL EN ALTERACIONES DE LA FLUIDEZ PARA NIÑOS Y ADULTOS DESTINADO A
                FONOAUDIÓLOGOS/AS</h1>
            <h2 class="title is-5">TARTAMUDEZ - CLUTTERING
                                                                            MODALIDAD VIRTUAL </h2>
            <p>En el mundo se han realizado muchas investigaciones basados en evidencia científica acerca de las alteraciones de la fluidez. Se han creado programas de intervención clínica para esta temática, tanto para niños, adolescentes y adultos.</br></br>
 El profesional fonoaudiólogo, logopeda o terapeuta del habla debe actualizarse en el abordaje de las alteraciones de la fluidez, tanto en conocimiento acerca de su etiología, teorías, tratamientos basados en la evidencia, como en su actuación con las personas con tartamudez, trabajando en profundidad su propio rol profesional y personal en este campo. </br></br>

Debemos estar actualizados y acordes a los nuevos descubrimientos que se realizan en el mundo y así acompañar a mejorar la calidad de comunicación y de vida de las personas con tartamudez y sus familias, trabajar en la prevención y restablecimiento de la fluidez en niños pequeños, como en la difusión y transmisión de conocimientos actualizados a otros profesionales que trabajan interdisciplinariamente con el niño, y a la sociedad que lo rodea. </br></br>

               <strong> Objetivos:</strong>
                <ul>

                    <li>Ofrecer a los profesionales fonoaudiólogos, logopedas y terapeutas del habla toda la información actualizada acerca de las alteraciones de la fluidez. Etiología, evaluación y tratamiento basado en la evidencia científica. </li>
                    <li>Conocer el aspecto cognitivo-emocional que rodea a la persona con alteraciones de la fluidez, para poder comprender más sus actitudes y conductas logrando así un mejor acompañamiento a la persona.</li>
                    <li>Trabajar el desarrollo profesional y personal del terapeuta, ya que la empatía y la coherencia son valores fundamentales para el acompañamiento de la persona que posee esta característica. </li>
                    <li>Aprender a escuchar a la persona con tartamudez, a tomar sus conocimientos para poder proyectar un desarrollo de tratamiento único y personal. </li>
                    
                    
                </ul>
              <strong>  Inversión:</strong></br>
5000 por módulo. ( a cancelar al 10 de cada mes)</br>
Hay cupos limitados. Se pide que se abone un 50% del módulo de Abril para poder reservar su vacante. El otro 50% se podrá saldar hasta el 10 de Abril.</br>
20% de descuento por pago por adelantado de toda la capacitación.</br>
10% de descuento para socios en cada módulo. </br>
La Asociación Argentina de Tartamudez tiene un sistema de becas que podrá ser solicitado a la comisión directiva a través de una nota escrita a info@aat.org.ar</br></br>

Duracion de Abril a Noviembre.</br></br>

Información e inscripción: info@aat.org.ar.</br>



            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">

            <h1 class="title is-5">ACTUALIZACIÓN EN TARTAMUDEZ PARA PROFESIONALES DEL ÁREA PSI</h1>
            <p>Seminario intensivo para profesionales de la salud mental: abordaje complejo de la disfluencia desde el
                marco teórico centrado en la persona, herramientas del modelo TCC.</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            <h1 class="title is-5">CURSO PARA PROFESIONALES DE LA SALUD</h1>
            <p>Curso teórico-vivencial para agentes de Salud dictado por Counselors (Fonoaudiólogos, Counselors,
                Psicólogos, Psicopedagogos, Terapistas Ocupacionales, Acompañantes terapéuticos, Pediatras y todo aquel
                que se dedique a la relación de ayuda en el ámbito de la salud).</p>
        </div>
    </div>



</section>


{% endblock body %}