{% extends 'base.html' %}

{% block titulo %}Quiénes somos{% endblock titulo %}


{% block body %}
<section class="section">
    <div class="container">
        <div class="content is-medium">



            <h2 class="title is-3">Formación</h2>


            <h1 class="title is-5">CAPACITACIÓN EN ALTERACIONES DE LA FLUIDEZ PARA NIÑOS Y ADULTOS DESTINADO A
                FONOAUDIÓLOGOS/AS</h1>
            <p>
                Objetivos:
                <ul>

                    <li>Brindar las herramientas necesarias para trabajar con pacientes con disfluencia de todas las
                        edades.</li>
                    <li>Ofrecer el conocimiento de diferentes terapias actualizadas del mundo.</li>
                    <li>Tratamientos integrales que toman a la persona como un ser con cuerpo, mente y alma.</li>
                    <li> Dirigida a: Fonoaudiólogos y Licenciados en Fonoaudiología</li>
                    <li> Modalidad: Virtual (seis módulos virtuales de Julio a Diciembre) con exámen final</li>

                    Información e inscripción: info@aat.org.ar.
                </ul>

            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">

            <h1 class="title is-5">ACTUALIZACIÓN EN TARTAMUDEZ PARA PROFESIONALES DEL ÁREA PSI</h1>
            <p>Seminario intensivo para profesionales de la salud mental: abordaje complejo de la disfluencia desde el
                marco teórico centrado en la persona, herramientas del modelo TCC.</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="content is-medium">
            <h1 class="title is-5">CURSO PARA PROFESIONALES DE LA SALUD</h1>
            <p>Curso teórico-vivencial para agentes de Salud dictado por Counselors (Fonoaudiólogos, Counselors,
                Psicólogos, Psicopedagogos, Terapistas Ocupacionales, Acompañantes terapéuticos, Pediatras y todo aquel
                que se dedique a la relación de ayuda en el ámbito de la salud).</p>
        </div>
    </div>



</section>


{% endblock body %}