{% extends 'base.html' %}

{% block titulo %} 
Preguntas frecuentes - AAT
{% endblock titulo %}


{% block body %}
<section class="section">
    <div class="container">
        <div class="content is-medium">



            <h2 class="title is-3">Preguntas frecuentes</h2>


            <h3 class="title is-5">¿Qué es la tartamudez?</h3>
            <p>Es una alteración en la fluidez del habla, se caracteriza por repeticiones de silabas, sonidos o bloqueos, lo mas común es que se presente cuando los niños empiezan a desarrollar su lenguaje, entre los 2 y 5 años. Esto no quiere decir que no pueda aparecer en una edad más avanzada. La causa es multifactorial, desde la genética que juega un rol muy importante, hasta la dinámica familiar en cuanto a demandas, nivel de exigencia, etc. Se presenta mayormente en varones que en mujeres (de 5 personas 4 son varones).<p>


            <h3 class="title is-5">¿Se puede curar?</h3>
            <p>Al no estar hablando de una patología no usamos ese término. Se puede revertir o mejorar, siempre y cuando se intervenga cuanto antes empezando un tratamiento fonoaudiológico especializado. Lo que aconsejaban los pediatras era simplemente esperar, pero si se interviene antes de los 6 años de edad, el 80% de los niños suele restablecer su función en el habla.<p>

            <h3 class="title is-5">¿Que mitos/creencias existen acerca de la tartamudez?</h3>
            <p>Suele decirse que las causas son nervios o algún factor emocional, estas son consecuencias que surgen a partir de convivir con la tartamudez, pero no la causa. Otro de los mitos es que afecta al intelecto, cuando de esta teoría no hay ninguna evidencia. Hay varias personalidades destacadas tanto en el deporte como en el arte que tienen tartamudez como ser Marilyn Monroe, Bruce Willis, Borges, más actuales el futbolista James Rodríguez o el cantante Ed Sheeran. Otro mito es que es contagiosa. La tartamudez es cíclica (momentos de mayor o menor fluidez) dinámica (varía según el contexto y/o actividad que se esté realizando) e involuntaria (la persona que tartamudea no elige cuando trabarse/bloquearse).<p>

            <h3 class="title is-5">¿Qué hacer frente a una persona que tartamudea?</h3>
            <p>Lo mas importante es respetar el tiempo de la persona, es decir, no interferir sugiriendo que hable tranquilo, que respire, etc, ni completar las frases. Poner atención en el contenido y no en la forma en que lo está diciendo. (contar algún episodio de evitación/anécdota)..<p>


        </div>
    </div>
</section>

{% endblock body %}