{% extends 'base.html' %}

{% load static %}
{% block titulo %}
Profesionales - AAT
{% endblock titulo %}

{% block js %}
<link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
{% endblock js %}

{% block body %}
<section class="section">
    <div class="container">
        <div id="app">
            <!-- Buefy components goes here -->
            <template>
                <section class="section">



                    <b-notification type="is-warning" has-icon aria-close-label="Close notification" role="alert">
                        <div class="columns">
                            <div class="column is-10">

                                <p>
                                    Si no encuentra en la página un especialista cercano a su domicilio, por favor
                                    comuníquese
                                    con la Asociación Argentina de Tartamudez donde lo pueden seguir asesorando. En la
                                    página
                                    figuran únicamente socios de la AAT. Gracias.</p>

                            </div>
                            <div class="column">
                                <button class="button is-success is-light">Contacto</button>

                            </div>

                        </div>
                    </b-notification>

                    <h2 class="title is-3">Profesionales Especializados</h2>

                    <h2 class="title is-4">Ciudad autónoma de Buenos Aires</h2>

                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Almagro


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Stefania C. Restifa</h1>


                                    <p> Dir: Av.
                                        Díaz vélez y Salguero
                                    </p>
                                    <p>
                                        Tel.:
                                        15-62779472.
                                    </p>
                                    <p>
                                        E-Mail:
                                        restifastefania@gmail.com
                                        ó
                                        consultoriodiazvelez@gmail.com
                                    </p>
                                </div>
                            </div>

                    </div>

                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Belgrano


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Beatriz Biain de Touzet
                                    </h1>


                                    <p> Tel.: 4784-9115 ó 1540625833.

                                    </p>
                                    <p>
                                        E-Mail: beatrizbiain@gmail.com
                                    </p>
                                    <p>
                                        - Docente UBA
                                    </p>
                                </div>
                            </div>


                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Silvina Ashton
                                    </h1>


                                    <p> Dir: Cuba 1956 (Con cita previa).


                                    </p>
                                    <p>
                                        Tel.: 1559206150.

                                    </p>
                                    <p>
                                        E-Mail: Silvinaashton@yahoo.com.ar
                                    </p>
                                </div>
                            </div>

                    </div>


                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Caballito


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Denise Kleidermacher
                                    </h1>

                                    <p>
                                        Dir: Franklin 805 PB.

                                    </p>
                                    <p>
                                        Tel.: 155-062-0043.
                                    </p>
                                    <p>E-Mail: denukleider@gmail.com</p>

                                    <h1 class="title is-4">Graciela Fiocca</h1>


                                    <p> Dir: Hortiguera 644 (Hortiguera y Directorio).
                                    </p>
                                    <p>
                                        Tel.: 4988-1143 .
                                    </p>

                                    <p>
                                        E-Mail: gracielafiocca@hotmail.com
                                    </p>

                                    <h1 class="title is-4">Lic. Claudia Bayramian</h1>


                                    <p>Dir: RIVADAVIA 4704.
                                    </p>
                                    <p>
                                        Tel.: 4632- 6943.
                                    </p>

                                    <p>
                                        E-Mail: clobayra@hotmail.com
                                    </p>
                                </div>
                            </div>

                    </div>





                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Colegiales


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Silvina Ashton
                                    </h1>

                                    <p>
                                        Dir: Conesa 900, entre Palpa y Aguilar (Con cita previa).

                                    </p>
                                    <p>
                                        Tel.: 1559206150.
                                    </p>
                                    <p>E-Mail: Silvinaashton@yahoo.com.ar</p>

                                    <h1 class="title is-4">Lic. Mercedes Eva Rodriguez</h1>


                                    <p> Dir: CONSULTORIO: Zabala 2473 PB "F".
                                    </p>
                                    <p>
                                        Tel.: 4785-9503 ó 15-4195-1521.
                                    </p>

                                    <p>
                                        E-Mail: merfiorde@hotmail.com.
                                    </p>


                                </div>
                            </div>


                    </div>



                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Flores


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Janice Ninoná
                                    </h1>

                                    <p>

                                        Dir: Yerbal y Fray Cayetano Rodríguez (Plaza Flores) .

                                    </p>
                                    <p>
                                        Cel: 1165462532
                                    </p>
                                    <p>E-Mail: equipointflores@gmail.com</p>
                                    <p>Tratamiento a distancia (online).</p>

                                    <h1 class="title is-4">Silvana Petrolati</h1>


                                    <p> Dir: Av. Rivadavia 6351 Torre 1 Piso 13 Depto C, Flores.
                                    </p>
                                    <p>
                                        Tel.: 1545779529 ó 46741689.
                                    </p>



                                </div>
                            </div>

                    </div>


                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Palermo


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Ana Ines Aureggi

                                    </h1>

                                    <p>

                                        Dir: Billinghurst 1471 P.6 "D" y 7 "D" CABA.


                                    </p>
                                    <p>
                                        Tel.: 4962-6251 ó 15-5498-0410.
                                    </p>
                                    <p>E-Mail: anaineszulima@hotmail.com</p>

                                    <h1 class="title is-4">Mara Luque</h1>


                                    <p> Dir: Av. Santa Fe 1845 5D CABA.

                                    </p>
                                    <p>
                                        Tel.: 54911 5641 5727.
                                    </p>
                                    <p>
                                        E-Mail: info@latartamudez.com
                                    </p>
                                    <p>Web: www.latartamudez.com</p>

                                </div>
                            </div>



                    </div>

                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Paternal


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Denise Kleidermacher


                                    </h1>

                                    <p>

                                        Dir: Apolinario Figueroa 907.


                                    </p>
                                    <p>
                                        Tel.: 155-062-0043.
                                    </p>
                                    <p>E-Mail: denukleider@gmail.com.</p>



                                </div>
                            </div>

                    </div>



                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        San Nicolás


                                        <a class="card-header-icon">
                                    </p>
                                    <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                    </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Lic. Stefania C. Restifa


                                    </h1>

                                    <p>

                                        Dir: Lavalle y Rodriguez peña, San Nicolás


                                    </p>
                                    <p>
                                        Tel.: 15-62779472.
                                    </p>
                                    <p>E-Mail: restifastefania@gmail.com ó
                                        consultoriodiazvelez@gmail.com</p>



                                </div>
                            </div>





                    </div>
                    <div>
                        <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">

                            <template #trigger="props">
                                <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                    <p class="card-header-title">


                                        Villa Lugano


                                    </p>
                                    <a class="card-header-icon">
                                        <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                        </b-icon>
                                    </a>
                                </div>
                            </template>

                            <div class="card-content">
                                <div class="content">
                                    <h1 class="title is-4">Anabella Parente


                                    </h1>

                                    <p>

                                        Tel.: 4604-3247, 3528-5891 ó
                                        15-6412-4216.


                                    </p>
                                    <p>
                                        E-Mail: parenteanabella@gmail.com ó
                                        fonoas@gmail.com
                                    </p>



                                </div>
                            </div>
                    </div>
                </section>



                <section class="section">

                    <h2 class="title is-3">Profesionales Interdisciplinarios</h2>

                    <h2 class="title is-4">Buenos Aires</h2>

                    <b-collapse :open="false" class="card" animation="slide" aria-id="contentIdForA11y3">
                        <template #trigger="props">
                            <div class="card-header" role="button" aria-controls="contentIdForA11y3">
                                <p class="card-header-title">
                                    Belgrano
                                </p>
                                <a class="card-header-icon">
                                    <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                                    </b-icon>
                                </a>
                            </div>
                        </template>

                        <div class="card-content">
                            <div class="content">
                                <li>
                                    <div class="name">
                                        <h2>Consultora Psicologica. Norma Esper</h2>
                                        <p>Atención individual y grupal. Orientación a padres.</p>
                                    </div>
                                    <p>E-Mail: normacesper@gmail.com</p>
                                    <p>Celular:011 154186- 8400</p>
                                </li>
                            </div>
                        </div>





                </section>
            </template>

        </div>
    </div>
</section>

<script src="https://unpkg.com/vue"></script>
<!-- Full bundle -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<!-- Individual components -->
<script src="https://unpkg.com/buefy/dist/components/table"></script>
<script src="https://unpkg.com/buefy/dist/components/input"></script>

<script>
    new Vue({
        el: '#app'
    })
</script>




{% endblock body %}