{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Comisión directiva - AAT
{% endblock titulo %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/beatriz.jpeg' %}"
                            alt="Beatriz Biain de Touzet">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Beatriz Biain de Touzet</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Presidente honorario</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Facundo.jpeg' %}"
                            alt="Facundo Garcia Tarsia">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Facundo Garcia Tarsia</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Presidente</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Adriana.jpeg' %}"
                            alt="Adriana Alicia Flores">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Adriana Alicia Flores</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Vicepresidente</p>
                </div>

            </div>







        </div>
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Claudia.jpeg' %}"
                            alt="Claudia Bayramian">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Claudia Bayramian</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Secretaria</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Yanel.jpeg' %}"
                            alt="Yanel Ingrid Castro">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Yanel Ingrid Castro</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Tesorera</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Romina.jpeg' %}"
                            alt="Romina Tamburri">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Romina Tamburri</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Vocal I</p>
                </div>

            </div>







        </div>
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Pia.jpeg' %}"
                            alt="Maria Pia Coscueta">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Maria Pia Coscueta</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Vocal II</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Marcela.jpeg' %}"
                            alt="Marcela Acosta">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Marcela Costa</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Fiscalizadora Titular</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{% static 'images/comision-directiva/Graciela.jpeg' %}"
                            alt="Graciela Fiocca">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Graciela Fiocca</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Fiscalizadora Suplente</p>
                </div>

            </div>







        </div>


        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <div class="columns">
                        <div class="column">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{% static 'images/comision-directiva/Adrian.jpeg' %}"
                                    alt="Adrian Fantini">

                            </figure>
                        </div>
                        <div class="column">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{% static 'images/comision-directiva/Micaela.jpeg' %}"
                                    alt="Micaela Castro Medina">

                            </figure>
                        </div>
                    </div>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">Delegación Córdoba de la AAT</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">Adrian Fantini y Micaela Castro Medina</p>
                </div>





            </div>
            <div class="columns">
                <div class="column">

                    <div class="card-content is-flex is-horizontal-center">
                        <div class="columns">
                            <div class="column">
                                <figure class="image is-128x128">
                                    <img class="is-rounded" src="{% static 'images/comision-directiva/Rocio.jpeg' %}"
                                        alt="Rocio Mansilla">

                                </figure>
                            </div>
                            <div class="column">
                                <figure class="image is-128x128">
                                    <img class="is-rounded" src="{% static 'images/comision-directiva/Julieta.jpeg' %}"
                                        alt="Julieta Salgueiro">

                                </figure>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="title has-text-centered is-4">Delegación Córdoba de la AAT</p>

                    </div>
                    <div class="card-content" style="margin-top:-7%;">
                        <p class="subtitle is-6 has-text-centered">Rocio Mansilla y Julieta Salgueiro</p>
                    </div>





                </div>







            </div>
        </div>
    </div>
</section>
{% endblock body %}