{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Comisión directiva - AAT
{% endblock titulo %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>

            </div>







        </div>
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>

            </div>







        </div>
        <div class="columns">
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>




            </div>
            <div class="column">

                <div class="card-content is-flex is-horizontal-center">
                    <figure class="image is-128x128">
                        <img src="{% static 'images/comision-directiva/WhatsApp Image 2021-01-15 at 21.41.18.jpeg' %}"
                            alt="">
                    </figure>
                </div>

                <div class="card-content">
                    <p class="title has-text-centered is-4">John Smith</p>

                </div>
                <div class="card-content" style="margin-top:-7%;">
                    <p class="subtitle is-6 has-text-centered">@johnsmith</p>
                </div>

            </div>







        </div>
    </div>    
</section>
{% endblock body %}