{% extends 'base.html' %}

{% block titulo %}Quiénes somos - AAT{% endblock titulo %}


{% block body %}
<section class="section" style="background-color:#F6F6F6;">
    <div class="content is-medium">
        <div class="container">


            <h2 class="title is-3">Quiénes Somos</h2>

            <p>
                La Asociación Argentina de Tartamudez es una Entidad Sin Fines de Lucro (Pers. Jurídica 305/97 – Exp.
                1632188/97) que tiene como objetivo la investigación, el estudio, la prevención y difusión de todo lo
                relacionado a la tartamudez. Nuclea a profesionales, personas con disfluencia, padres y todo aquel
                interesado en el tema. La Asociación Argentina de Tartamudez está asociada a la International Fluency
                Association (IFA) y a la International Stuttering Association (ISA), donde participan especialistas y
                personas que tartamudean de todo el mundo. Es pionera en la formación de Grupos de Ayuda Mutua en
                Latinoamérica. Integró el Comité Organizador del ” 9th Worl Congress for People who stutter”.
            </p>
        </div>
    </div>


</section>
<section class="section">
    <div class="content is-medium">
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <h1 class="title is-3">Misión</h1>

                    <p>
                        La Asociación Argentina de Tartamudez tiene como misión lograr que en cada rincón del país se
                        conozca los nuevos tratamientos en alteraciones de la fluidez. Que los profesionales
                        fonoaudiólogos/as se capaciten. Que la sociedad hable con conocimiento acerca del tema.
                    </p>
                </div>
                <div class="column is-4">
                    <h1 class="title is-3">
                        Visión
                    </h1>
                    <p>
                        Llegar a la aceptación de la tartamudez por parte de la sociedad como un tema del cual se puede
                        hablar y se saber como abordar.

                        Cuando alguien levante un teléfono y escuche un silencio, piense que puede ser una persona con
                        tartamudez iniciando una conversación
                    </p>
                </div>
                <div class="column is-4">

                    <h1 class="title is-3">
                        Objetivos
                    </h1>
                    <p>
                        <ul>
                            <li>Conseguir la sede propia para poder realizar las consultas, evaluaciones y atención
                                permanente a través de Profesionales y una secretaría estable.</li>
                            <li>Formación de Delegaciones en todo el país, integradas por profesionales, personas con
                                tartamudez y padres.</li>
                            <li>Presentar en los Ministerios de Salud y Educación planes de Jornadas e intervención de
                                Colegios y Hospitales, brindando capacitación a docentes y profesionales, a través de
                                folletos informativos, spots en medios de comunicación y demás formas de difusión.</li>
                        </ul>


                    </p>






                </div>
            </div>
        </div>

    </div>

</section>

{% endblock body %}